
body {
    height:100%;
    width:100%;
    background-color:black;
    color:beige;
    font-size: 40px;
}

.tab {
    display: flex;
    flex-direction: column;
    border: solid white 2px;
    border-radius: 5px;
    padding: 5px;
    height:fit-content;
    width: fit-content;
    margin: 5px 0 0 5px;
    overflow-x: hidden;
}

.contRow {
    display: flex;
    flex-direction:row;
}

.contCol {
    display: flex;
    flex-direction: column;
}

.clickBtn {
    background-color: darkblue;
    color: beige;
    border: solid black 2px;
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    text-align: center;
    margin: 5px 0;
}