
body {
    height:100%;
    width:100%;
    background-color:black;
    color:beige;
    font-size: 30px;
}

.tab {
    display: flex;
    flex-direction: column;
    border: solid white 2px;
    border-radius: 5px;
    padding: 5px;
    height:fit-content;
    width: fit-content;
    margin: 5px 0 0 5px;
    overflow-x: hidden;
}

.contRow {
    display: flex;
    flex-direction:row;
}