html,body{
    height: 100%;
    width: 100%;
}

body {
/*    background-color: black;*/
    margin: 0;
    display: flex;
    flex-direction: row;
    color: white;
    background-image: url("IPM Components/bg.jpg");
}

a {
    text-decoration: none;
    color: black;
    background: linear-gradient(rgb(0,212,250), grey);
    border-radius: 20px;
    padding: 0 5px 0 5px;
}

.menu {
    height: 100%;
    background-color: black;
    padding: 30px 5px 0 5px;
    position: fixed;
}

.info{
    background-color: black;
    font-size: 18px;
    height: 30px;
    padding-left: 110px;
    position: fixed;
    width: 100%;
}


.menuBtn {
    padding: 5px;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    min-width: 70px;
    margin: 10px 5px;
    font-size: 20px;
    border: solid 2px blue;
}
.menuBtn:hover {
    background-color: gray;
    color: yellow;
}

.contRow {
    display: flex;
    flex-direction: row;
}

.contCol {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}


.texting {
    color: white;
    font-size: 22;
    margin: 5px 0 0 0;
    padding: 5px;
}

.contRow_W {
    display: flex;
    flex-direction: row;
    color: white;
}

.contCol_W {
    display: flex;
    flex-direction:column;
    color: white;
}


.button1{
    color: white;
    background-color: black;
    text-align:center;
    border : blue solid 3px;
    font-size: 20px;
    margin: 10px 0 10px 0;
    padding: 5px;
    border-radius:5px;
    cursor: pointer;
}

.button2{
    color:white;
    border:solid 2px white;
    padding:5px;
    height:20px;
    width:20px;
    text-align:center;
    margin-left:5px;
    border-radius:5px;
    cursor:pointer;
}

.planetBoxStyle{
    height:120px;
    width:120px;
    overflow:hidden;
}

.projectTogglerL,.projectTogglerR,
.projectTogglerT,.projectTogglerB {
    border:white solid 2px;
    padding:10px;
    cursor:pointer;
    color:white;
    display:flex;
    align-items:center;
}

.projectTogglerL {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:blue;
}

.projectTogglerR {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color:black;
}

.projectTogglerT {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:blue;
    justify-content: center;
    min-height: 40px;
}

.projectTogglerB {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color:black;
    justify-content: center;
    min-height: 40px;
}