

body{
    background-color: rgb(200,247,248);
    margin-left: 120px;
}



 /* The navigation bar */
 .navbar {
    overflow-x: hidden;
    background-color: rgb(0,76,78);
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
  }

  .navbar li {
    color: white;
    width: 100px;
    text-align: right;
    list-style:none;
    padding: 5px 10px 5px 5px;
  }

  .navbar li:hover {
    background-color: grey;
    color: black;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: blueviolet;
  }

.ghost{
    display: none;
}

.main{
    margin-top: 30px;
}

H1{
    text-align: center;
    font-size: 50px;
}
.rower{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0,76,78);
    border-radius: 10px;
    padding-left:10px ;
}

.faq {
    margin: 2px 0;
    background-color: rgb(173, 173, 94);
}

.drops{
    margin: 5px 0 5px 0;
    background-color: rgb(173, 173, 94);    
}

.thinline{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    height: 2px;
    background-color: black;
}

.liner {
    
    background-image: linear-gradient(to right,black ,blueviolet,blueviolet);
    border: solid black 3px;
    margin:5px;
    border-radius: 5px;
    padding-left: 10px;
    color: white;

}

.faq,.list,.drops{
    padding: 10px;
    border-radius: 5px;
}


.list{
    background-color: rgb(0,76,78);
    color: white;
    list-style-type: none;
}

.list-item{
    margin: 5px 0;
    
}

.list-item:hover {
    color: rgb(76, 206, 50);
    cursor: pointer;
}

.skill {
    color: purple;
}
.spell {
    color: rgb(180, 34, 34);
}
.quest {
    background-color: rgb(113, 52, 170);
    color:#f4fff8;
    margin: -12px 5px;
    border-radius: 5px;
    padding: 2px;
    border: black solid 2px;
    padding-left: 20px;
    cursor: pointer;
}

.areas{
    background-color: rgb(105, 108, 151);
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

.in-title{
    margin: 10px 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;  
}

#go-area-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.go-area{
    background-image: linear-gradient(to right,red,yellow);
    padding: 5px;
    margin: 10px;
    color: black;
    width: fit-content;
    border-radius: 10px;

}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    color: blueviolet;
}

#experience{
    background-color:rgb(0,76,78);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

#calculateExperience,#moreOptions{
    background-color: blueviolet;
    color: black;
    border: black 3px solid;
    padding: 5px;
    border-radius: 20px;
    width: 200px;
    font-weight: bold;
    cursor: pointer;
}

#calculateExperience:hover,#moreOptions:hover{
    color: white;
}

#calcOptions{
    width: fit-content;
    background-color: rgb(109, 28, 28);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    border: black solid 2px;
}

.radioBox{
    background-color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.tableContainer{
    background-color: rgb(0,76,78);
    width:fit-content;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}


#fight-eval{
    background-color: black;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

#fight-eval{
    background-image: linear-gradient(to top right,black 40%,blue);
    align-self: center;
}

#eval-container{
    display: flex;
    justify-content:center;
}