html,body{
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    color: white;
    background-color: palevioletred;
}

.globalFr{
    height: 100%;
    width: 100%;
    background-color: green;
}

.mainFork{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: blue;
}

.leftF,.rightF{
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.leftF{
    min-width: 150px;
    background-color: gray;
    overflow-x: hidden;
}

.rightF{
    width: 100%;
    background-color: black;
    overflow-x: hidden;
}



.infos {
    padding: 10px;
    width: calc(100% - 25px);
    min-height: 50px;
    background-color: grey;
    margin-bottom: 5px;
}

.main{
    padding: 10px;
    height: 100%;
    width: calc(100% - 25px);
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.menuBlock{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    margin: 5px;
}

.section{
    border: black solid 5px;
    border-radius: 5px;
    width: 50%;
    margin: 10px;
}

.contRow{
    display: flex;
    flex-direction: row;
}

.contCol{
    display: flex;
    flex-direction: column;
}


